@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    font-family:  "DM Sans";
  }
  
  .header {
    margin-top: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  
  .go-button {
    background-color: #5fa59e;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 16px;
  }
  
  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .month-title {
    font-size: 18px;
  }
  
  .nav-button {
    background-color: #5fa59e;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
   width: 100%;
    
   
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .day-button {
    background-color: #5fa59e;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .day-button.selected {
    background-color: #f1c40f;
  }
  